extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us
        p Bookworm is a friendly community where book lovers can discover and share books. See which books your friends are reading, and keep track of books you&apos;re reading or want to read.
        p A single good-sized book will provide you with many hours of entertainment, it will make you think about some aspect of the world around you and make you reconsider that aspect a little. And even better, that single book can be acquired for practically nothing.

        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Get Started for FREE
