extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Contact Us
        p There is a nearly infinite variety of books out there, so you can surely find one or two that match your interests. There’s a book out there for almost anything you can imagine. Whatever it is that you enjoy, there’s a book somewhere that’s going to be somewhat close to your exact interest.

        a.btn.btn-primary(href='#') Get in touch


